<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971092063434-loje5mqjejalkfgo8pna2en6004d5gvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971092063434-loje5mqjejalkfgo8pna2en6004d5gvg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>971092063434-fo8j264r5htuk8ptdkg1k3bkoqif99h8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKJo0CqiTE0xaLW6_ODFPxGTQcwOKpv2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>971092063434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sayurcode.pressenceAppsGeolocator</string>
	<key>PROJECT_ID</key>
	<string>pressenceapps</string>
	<key>STORAGE_BUCKET</key>
	<string>pressenceapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971092063434:ios:a789515a6664336c8cf033</string>
</dict>
</plist>